{% extends "first.html" %}
{% block title %}
tips
{% endblock %}
{% block content %}
<p>How to Play:</p>
<p>goal:get as much point as you can!</p>
<p>you can roll your dice 3 times each round</p>
<p>in each round consider your dice number</p>
<p>select a button and store your number in it</p>
<p>so you can get points that shows in the button</p>
<p>for each button there are different calculation way</p>
<p>for the blue buttons we call uppersection:</p>
<p>Aces:for each 1 you have,you can get 1 point</p>
<p>Twos:for each 2 you have,you can get 2 points</p>
<p>Threes:for each 3 you ,you can get 3 point</p>
<p>Fours:for each 4 you have,you can get 4 point</p>
<p>Fives:for each 5 you have,you can get 4 point</p>
<p>Sixth:for each 6 you have,you can get 6 point</p>
<p>If you totally get 63 points in uppersection</p>
<p>you can get a bonus for extra 35 points</p>
<p>the green button is called the lowersection</p>
<p>3 of a kind:3 same dices for sum of 5 dices points</p>
<p>4 of a kind:4 same dices for sum of 5 dices points</p>
<p>All count:get sum of your dices points</p>
<p>Yahtzee:5 same dices,get 50 points</p>
<p>Small striaght:4 dices in a straight(1234X,2345X,3456X),get 30 points</p>
<p>Large striaght:roll 12345 or 23456,get 40 points</p>
<p>at the end, add all your points together!</p>
<p>try to get as much point as you can!</p>

{% endblock %}